.leaderboard-page {
    display: flex;
    flex-direction: column;
    margin-top: 11vh;
}

.leaderboard-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.leaderboard-container h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

.leaderboard-table {
    width: 50%;
    margin-top: 20px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

leaderboard-table td:first-child {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leaderboard-table td:nth-child(2), .leaderboard-table th:nth-child(2) {
    text-align: center;
}

.leaderboard-table th, .leaderboard-table td {
    padding: 20px;
    text-align: left;
    font-size: clamp(1rem, 2vw, 2vw);
}

.leaderboard-table th {
    background-color: #9A9CF5;
    font-weight: bold;
}

.leaderboard-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.leaderboard-table tr:hover {
    background-color: #ddd;
}

.leaderboard-table td.user-info {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 30px;
    justify-content: left;
    overflow-x: auto;
    white-space: nowrap;
}