:root {
  --background: #C0D7E7;
  --foreground: #000000;
  --Box-purple: #9A9CF5;
  --Button-green: #4AAC55;
  --Button-red: #D04949;
  --Button-gold: #DCBB73;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

header {
  width: 100%;
  height: clamp(2rem, 11vh, 11vh);
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center; 
  position: fixed;
  top: 0;
  z-index: 1000; /* higher z => higher layer */
  display: flex;
}

.userSnippet {
  position: absolute;
  right: 1vw;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;

}

.icon {
  height: clamp(1rem, min(73vh, 7vw), 100%);
  width: auto;
}

.username {
  font-size: clamp(1rem, 4vh, 100%);
}

.nav_button {
  height: clamp(1rem, 4.7vh, 100%);
  width: auto;
  font-size: clamp(1rem, 4vh, 100%);
  position: absolute;
  cursor: pointer;
  padding: 3px 30px;
  border: none;
  border-radius:30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11vh;
  width: 50vw;
  font-size: clamp(1rem, 8vh, 11vh);
  font-family: monospace;
  letter-spacing: 10%;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
}