:root {
  --background: #C0D7E7;
  --foreground: #000000;
  --Box-purple: #9A9CF5;
  --Button-green: #4AAC55;
  --Button-red: #D04949;
  --Button-gold: #DCBB73;
  --Dashboard-box-height: 400px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 400px;
  padding: 20px;
  border-radius: 30px;
  background: var(--Box-purple);
}

.login-container h1 {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.login-container p {
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
}

.login-button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background: var(--Button-green, #4AAC55);
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background: #3a8c45;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
}

.dashboard-page {
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  padding: 20px;
  background-color: var(--background);
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.dashboard-section h2 {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.friends-list, .leaderboard {
  background-color: var(--Box-purple);
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  width: 100%;
  height: var(--Dashboard-box-height);
  text-align: center;
}

.scrabble-now {
  background-color: var(--background);
  margin-top: 10px;
  margin-bottom: 10px;
  height: var(--Dashboard-box-height);
}

.friends-list ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.friends-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.friends-list li img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.leaderboard-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between rows */
}

.leaderboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between items */
}

.leader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.leader img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px; /* Space between image and text */
}

.scrabble-board img {
  height: 400px;
}

.add-friend-button, .create-game-button, .show-more-button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  background-color: var(--Button-gold);
}

.create-game-button {
  background-color: var(--Button-green);
}

.content-container {
  flex: 1;
  margin-top: 100px;
  padding: 20px;
}

.header {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
}