#bag-image {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px yellow solid; */
}

#bag-jpg {
    width: 100%;
    height: auto;
}

#bag-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#bag-description-container {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#bag-description {
    font-weight: bold;
    font-size: 4vh;
    height: fit-content;
}

#bag-interaction {
    height: 33.33%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; /* Add spacing between input and button/number */
    gap: 1vw; /* Add gap between elements */
}

#bag-input-container {
    width: 65%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#bag-input {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    border: none;
    font-size: 4vh;
    padding-left: 1vw;
    box-sizing: border-box; /* Ensure padding doesn't affect height */
    margin-bottom: 0px; /* Add margin to separate from button */
}

#bag-button-container,
#bag-number-container {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1vw; /* Add padding to the right */
}

#bag-button,
#bag-number {
    height: 80%;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    background-color: #9A9CF5;
    cursor: pointer;
}

#bag-button:hover {
    background-color: #7F81D9;
}

#bag-number {
    background-color: #9A9CF5; /* Match the button's background color */
    font-size: 4.5vh; /* Match the button's font size */
    padding: 0; /* Remove padding for consistency */
}

#tiles-info-container {
    width: 65%;
    height: 33.33%;
    padding-left: 1vw;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#tiles-info-container div {
    font-size: 3vh;
    font-style: italic;
    height: fit-content;
    padding-right: 1vw;
}