
.TW {
    background-color: #D04949;
}

.DL {
    background-color: #8B8FD6;
}

.DW {
    background-color: #CE8D8D;
}

.TL {
    background-color: #5261AC;
}

.Center {
    background-color: #C4C4C4;
}

.Base {
    background-color: #DCBB73;
}
