.Triple-Word-Score {
  background-color: #d04949;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Double-Letter-Score {
  background-color: #8b8fd6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Double-Word-Score {
  background-color: #ce8d8d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Triple-Letter-Score {
  background-color: #5261ac;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Center {
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Base {
  background-color: #dcbb73;
  display: flex;
  justify-content: center;
  align-items: center;
}
