
.Triple-Word-Score {
    background-color: #D04949;
}

.Double-Letter-Score {
    background-color: #8B8FD6;
}

.Double-Word-Score {
    background-color: #CE8D8D;
}

.Triple-Letter-Score {
    background-color: #5261AC;
}

.Center {
    background-color: #C4C4C4;
}

.Base {
    background-color: #DCBB73;
}
